/* body {
   
    padding-top: 50px;
    z-index:0;
}
.jumbotron {
    background-color: rgb(190, 128, 240);
}

.footer {
    background-color: rgb(184, 124, 240);
    margin-bottom: 10px;
    padding: 15px;
}

.navbar-dark {
    background-color: blueviolet;
}
.font-icon {
    margin: 0 5px;
}
a{
    color:#212529;
} */

.row-header {
    margin : 8px auto;
    padding: 0px;
}
.row-content {
    margin : 50px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #b7a2dc;
    margin: 0px auto;
    padding: 20px 0px;
}
.jumbotron{
    padding: 70px 30px;
    margin: 0px auto;
    background-color: #9575cd;
    color: floralwhite
    
}
address{
    font-size: 80%;
    margin: 0px;


}
.navbar-dark {
    background-color: blueviolet;
}
.font-icon {
    margin: 0 5px;
}
a{
    color:#212529;
}
body {
   
    padding-top: 50px;
    z-index:0;
}
.tab-content {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}
.card{
    margin-bottom: 20px;
}